<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH tool</title>
    <script src="/common/common-js.js" type="application/javascript"></script>
</head>

<body>
    <div id="app">
        <el-button type="primary">SSH部分</el-button>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</body>

</html>